<div>
  <select class="form-select" id="tag">
    <option disabled>Product Tags</option>
    <option value="test">Test</option>
    {{#each Tags}}
    <option value="{{id}}">{{tag_name}}</option>
    {{/each}}
  </select>
</div>