<ul class="list-group gap-1">
    {{#each Tags as |Tag|}}
    <li class="list-group-item d-flex justify-content-between">
        <p>{{format_date createdAt}}</p>
        <p>{{tag_name}}</p>
        <div class="d-flex justify-content-between">
        <p>${{product.price}}</p>
        </div>
        <button type="button" class="btn btn-outline-success product-edit-btn" data-bs-toggle="modal" data-bs-target="#editExpenseModal">
            Edit
        </button>
    </li>
    {{/each}}
</ul>