<ul class="list-group gap-1">
    <li class="list-group-item d-flex justify-content-between">
        <a>02/27/2022</a>
        <a>Liquor</a>
        <a>$160</a>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editExpenseModal">
            Edit
        </button>
    </li>
</ul>