<ul class="list-group gap-1">
    {{#each products as |product|}}
    <li class="list-group-item d-flex justify-content-between">
        <a>{{product.price}}</a>
        <a>Liquor</a>
        <a>$160</a>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editExpenseModal">
            Edit
        </button>
    </li>
    {{/each}}
</ul>